<!DOCTYPE html>
<html>
<head>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")

    @RenderSection("scripts", required: false)

    <title>@ViewBag.Title Salón EICMA de Milán 2017</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="alternate" type="application/rss+xml" title="EICMA2017" href="~/App_Data/rss.xml">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

    <meta property="og:site_name" content="EICMA2017">
    <meta property="og:url" content="https://cdn.rawgit.com/JesusMartinezCamps/ProyectoFinalLLM/6ec88c03/EICMA2017/EICMA2017/Views/Home/Index.cshtml">
    <meta property="og:title" content="Últimas novedades del salón EICMA del 2017.">
    <meta property="og:image" content="~/favicon.ico">
    <meta property="og:description" content="Página acerca de las presentaciones para el próximo año.">



</head>
<body>
    <!--NavBar-->
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Salón EICMA de Milán 2017", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Últimas noticias", "News", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Historia", "InformacionSalon", "Home")</li>
                </ul>
            </div>
        </div>
    </div>

    <div id="generalBody">
        <div class="container">
            <!--Adv for small screen-->
            <div class="visible-xs" id="advSmall"></div>
            @RenderBody()
        </div>
        <!--Footer container-->
        <footer>
            <div id="siteFooterHeader">
                <p>&copy; @DateTime.Now.Year - Proyecto final de Lenguaje de Marcas en ASP.NET.</p>
                <p>Primer curso del Grado Superior de Aplicaciones Web.</p>
            </div>
            <div id="siteFooterBottom">
                <div id="siteFooterRight">
                    <p> Jesús Martínez </p>
                </div>
                <div id="siteFooterRight">
                    <p href="http://https://github.com/JesusMartinezCamps"> Github </p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
